[submodule "libroadrunner-deps"]
	path = libroadrunner-deps
	url = https://github.com/sys-bio/libroadrunner-deps.git
[submodule "roadrunner"]
	path = roadrunner
	url = https://github.com/sys-bio/roadrunner.git
